<main class="main_page">
  <form action="input" class="form js-form">
    <input
      class="search__input js-searchinput"
      type="text"
      name="search"
      id="search"
      placeholder="Escribe una serie"
    />
    <button value="Search" class="button js-search-btn">Search</button>
  </form>
  <div class="main__container">
    <div class="favorites">
      <h2 class="favorites__fav-title">
        Mis <span class="word">series</span> favoritas
      </h2>
      <ul class="main__list-favorite js-favs"></ul>
      <button value="Reset" class="reset__btn">Reset</button>
    </div>
    <ul class="main__list js-list-results"></ul>
  </div>
</main>
