<main class="main_page">
  <h1>Buscador de series</h1>
  <form action="input" class="js-form">
    <input
      class="search__input js-searchinput"
      type="text"
      name="search"
      id="search"
      placeholder="Escribe una serie"
    />
    <button value="Search">Search</button>
  </form>
  <h3>Mis series favoritas</h3>
  <div class="shows">
    <ul class="shows__list js-shows-container">
      <!-- Aquí empieza el código que vamos a generar desde JS-->
      <li class="show">
        <div class="show__colors">
          <div class="show__color"></div>
          <div class="show__color"></div>
          <div class="show__color"></div>
          <div class="show__color"></div>
        </div>
      </li>
      <!-- Aquí acaba el código que vamos a generar desde JS-->
    </ul>
  </div>
</main>
